@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(225, 246, 239);
}

header {
  padding: 1rem;
}

button {
  cursor: pointer;
}

/*Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li {
  margin-left: 3rem;
}

nav > ul > li > a {
  color: black;
}

nav > ul > li > a:hover {
  font-weight: bold;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3 {
  cursor: default;
}

/*Colors*/
.red {
  background-color: #f32323;
}

.orange {
  background-color: #ffa500;
}

.yellow {
  background-color: #ffff00;
}

.blue {
  background-color: #7474fc;
}

.green {
  background-color: #45af45;
}

.purple {
  background-color: #aa54aa;
}

.mainpage {
  background-color: rgba(88, 87, 87, 0.616);
  height: 100vh;
}

.center {
  text-align: center;
}

.container {
  background-color: rgb(225, 246, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inlineBlock {
  display: inline-block;
}

.rightMargin {
  margin-right: 2rem;
}

.game-selection {
  text-decoration: none;
  color: black;
}

.gradient {
  background: linear-gradient(to right, white, grey, black, grey, white);
  background-size: 1000%;
  animation: gradient 5s ease infinite;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.grid-item {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5rem 0;
  width: 200px;
  height: 200px;
  text-align: center;
  font-weight: bold;
}

.grid-item:hover {
  animation: rotate 0.5s linear;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 4px 4px 3px black;
}

.grid-item:active {
  transform: translateY(2px);
}

/*Buttons*/
.start-btn, .restart-btn {
  /*Have the start button and restart button side by side*/
  display: inline-block;
  /*Center the button*/
  margin: 0 auto;
  /*Set the width and height of the button*/
}

.start-btn, .restart-btn {
  margin-right: 0.5rem 0.75rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.start-btn {
  background-color: #7474fc;
}

.restart-btn {
  background-color: #f32323;
}

.start-btn:hover, .restart-btn:hover {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px black;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@media only screen and (max-width: 880px) {
  nav {
    display: block;
  }
  nav > ul {
    display: block;
  }
  nav > ul > li {
    text-align: center;
    margin: 0;
  }
  .hamburger {
    /*Render hamburger nav from font-awesome*/
    /*Place all item inside hamburger*/
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
  }
}/*# sourceMappingURL=index.css.map */