* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.center {
    text-align: center;
}
.game-selection {
    text-decoration: none;
    color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-item {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5rem 0;
    width: 200px;
    height: 200px;
    text-align: center;
    opacity: 0.5;
  }
.grid-item:hover {
    animation: rotate 1s linear;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.75;
}
.grid-item:active {
    opacity: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.gameNav {
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.gameNav:hover {
    font-weight: bold;
}

@keyframes rotate { /*Card Rotation Effect*/
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}