* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holes {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid brown;
    border-radius: 50%;
    margin: 0.5rem;
    opacity: 0.75;
    background-color: rgb(158, 93, 93)
}
.holes:hover {
    opacity: 1;
    cursor: pointer;
}
.bear {
    margin: 5px;
    width: 90px;
    height: 90px;
    background-image: url('../imgs/game5img.jpg');
    background-size: contain;
    animation: appear 1ss
}
/* Make a 3x3 container for the bears */
#bear-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}