* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gameBoard {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.currentTurn:hover, .playerO:hover, .playerX:hover  {
    cursor: pointer;
}

/*Display X and Os*/
.playerX {
    background-image: url("../imgs/game3imgs/playerX.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.playerO {
    background-image: url("../imgs/game3imgs/playerO.png");
    background-size: cover;
    background-repeat: no-repeat;
}