* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    text-align: center;
}
.count-score {
    margin-right: 1rem;
}
#gameCanvas {
    position: relative;
    margin: 0 auto;
    display: block;
    background-color: black;
}