* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#result {
    margin: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#selections {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.choice-btn {
    border-radius: 50%;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}
.choice-btn:hover {
    font-weight: bold;
    opacity: 0.8;
}
.player-selection, .computer-selection{
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
}
.display-all-result {
    font-size: 2.5rem;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .choice-btn {
        font-size: 1.5rem;
        margin: 0.25rem;
        padding: 0.5rem 1.5rem;
    }
    .player-selection, .computer-selection {
        padding: 0.5rem;
    }
    .display-all-result {
        font-size: 1.5rem;
    }
    .display-result {
        text-align: center;
    }
}