* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    text-align: center;
}
.display-score {
    margin-right: 1rem;
}
#gameCanvas {
    position: relative;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: 1px solid black;
}
/* Media Query */
@media screen and (max-width: 768px) {
    #gameCanvas {
        width: 100%;
        height: 100%;
    }
}