* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}   
.card {
    width: 150px;
    height: 180px;
    border-radius: 5px solid black;
    background-image: url(../imgs/game1imgs/front.png);
    cursor: pointer;
}
.flip {
    background-image: url(../imgs/game1imgs/front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    transform: rotateY(360deg);
    transition: transform 0.3s ease-in-out;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}