* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#message {
    font-size: 2rem;
}
.gameBoard {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .box {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 5px;
    }
}

/*Display X and Os*/
.playerX {
    background-image: url("../imgs/game3imgs/playerX.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.playerO {
    background-image: url("../imgs/game3imgs/playerO.png");
    background-size: cover;
    background-repeat: no-repeat;
}