#game1-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}   
.card {
    width: 150px;
    height: 180px;
    border-radius: 5px solid black;
}
/* .flipped {

} */
/* .reverse {
/* } */
